.control-menu {
    width: 10vw;
}

.email-container {
    width: 90vw;
    font-family: Roboto;
    font-size: 1rem;
}

table {
    width: 100%;
}

table tbody tr {
    border-top: 1px solid #dadada;
}

.subject {
    width: 80%;
}

.single-email {
    height: 5vh;
}

.read {
    background-color: #eeeeee;
    border-top: 1px solid #dadada;
}

.unread {
    background-color: white;
    border-top: 1px solid #dadada;
}